.btn-custom-color{
  background-color: #FF9E24;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  padding: .1px 20px;
  font-size: 40px;
  font-family: 'Monserrat' ,sans-serif;
  border:none;
  text-decoration: none;
}

.maquina{
  position: absolute;
}

.primer_gr, .segundo_gr, .tercer_gr {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

h1{
background-color: #F86C86;
text-align: center;
font-size: 50px;
color:white
}

#jugar{
    background-color: #F86C86;
    color: white; 
    border-radius: 16px; 
    font-size: 20px;
    font-family: 'Monserrat', sans-serif; 
    font-weight: bold; 
    width: 200px; 
    display:inline-block;
    cursor: pointer;
}

#comodin{
    background-color: #F8BC6C; 
    border-radius:16px; 
    font-size: 20px; 
    font-family: 'Monserrat', sans-serif; 
    font-weight: bold; 
    width: 200px; 
    color: white;
    display:inline-block;
    cursor: pointer;
}

#comodin {
display: none;
}

#cerrar-popup:hover {
  background-color:#F86C86; /* Cambia el color de fondo al pasar el cursor */
}

#popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#popup .popup-content {
  position: relative;
  z-index: 10000;
  text-align: center;
}

#popup-image {
  max-height: 100%;
  max-width: 100%;
  margin-top: -5%;
}

.ganaste-button {
  position: absolute;
  bottom: 35%; 
  left: 48%;
  background-color: #F8BC6C;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 30px;
  cursor: pointer;
  border-radius: 16px;
}

#popup-palabra {
  color: #000000; 
  position: absolute;
  top: 45%; 
  left: 40%;
  z-index: 3; 
  font-size: 350%;
}

/* Estilos para el botón de "Siguiente" cuando pierdes */
.perdiste-button { 
  position: absolute;
  bottom: 24%; 
  left: 50%;
  background-color: #F8BC6C;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 30px;
  cursor: pointer;
  border-radius: 16px;
}


