.btn-custom-color{
  background-color: #FF9E24;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  padding: .1px 20px;
  font-size: 40px;
  font-family: 'Monserrat' ,sans-serif;
  border:none;
  text-decoration: none;
}

.maquina{
  position: absolute;
}

.primer_gr, .segundo_gr, .tercer_gr {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

h1{
background-color: #F86C86;
text-align: center;
font-size: 50px;
color:white
}

#jugar{
    background-color: #F86C86;
    color: white; 
    border-radius: 16px; 
    font-size: 20px;
    font-family: 'Monserrat', sans-serif; 
    font-weight: bold; 
    width: 200px; 
    display:inline-block;
    cursor: pointer;
}

#comodin{
    background-color: #F8BC6C; 
    border-radius:16px; 
    font-size: 20px; 
    font-family: 'Monserrat', sans-serif; 
    font-weight: bold; 
    width: 200px; 
    color: white;
    display:inline-block;
    cursor: pointer;
}

#comodin {
display: none;
}

#cerrar-popup:hover {
  background-color:#F86C86; /* Cambia el color de fondo al pasar el cursor */
}

